footer
    .container
        .footer__top
            a.logo(href="/") 
                img(src=img+"LOGO.svg", alt="")
            nav.navbar                                                     
                ul 
                    li 
                        a(href="#") Main
                    li 
                        a(href="#") About
                    li 
                        a(href="#") Pre-Booklet
                    li 
                        a(href="#") The Science
                    li 
                        a(href="#") Review
                    li 
                        a(href="#") Gallery
                    li 
                        a(href="#") Contact
            a.polit(href="#") Политика кнфиденциальности
    .footer__bottom 
        p 2021 Все права защищены